<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= pageTitle %> </title>
<link rel="stylesheet" type ="text/css" href="../public/style.css">
</head>
<body>
    <%-include ('./partials/menu') %>
    <div>
        <ul>
            <% for (c of choco)
            {%>
                <li><%= c.brand %> </li>
                <% } %>
            </ul>
        </div>
        <%-include('./partials/footer') %>
    </body>
    </html>