<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Test EJS </title>
<link rel="stylesheet" type ="text/css" href="../public/style.css">
</head>
<body>

   <div> Mauvais choix , ne vendons pas de <%=varcliententer %> </div>
         
   
</body>
</html>